__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.env
*.sqlite3
db.sqlite3
media/
staticfiles/
build/
dist/
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
frontend/build/

